<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <h1>Cupcakes</h1>
    <ul>
        {% for cupcake in cupcakes %}
        <!-- data-id adds our data attribute without the user seeing it -->
        <li>{{cupcake.flavor}}</li>
        {% endfor %}
    </ul>
    
    <form action='/' method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
        </p>
        {% endfor %}
        <button>Submit</button>
    </form>
    
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
</body>
</html>